html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block }
nav ul,
nav li { margin: 0 }
nav ul,
ul { list-style: none }
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col { margin-left: 1.5% }
.col:first-child { margin-left: 0 }
.span1 { width: 6.95833333333% }
.span2 { width: 15.4166666667% }
.span3 { width: 23.875% }
.span4 { width: 32.3333333333% }
.span5 { width: 40.7916666667% }
.span6 { width: 49.25% }
.span7 { width: 57.7083333333% }
.span8 { width: 66.1666666667% }
.span9 { width: 74.625% }
.span10 { width: 83.0833333333% }
.span11 { width: 91.5416666667% }
.span12 {
    width: 100%;
    margin-left: 0;
}
body {
    font-size: 87.5%;
    color: #252e35;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    background: #f6f6f6;
}
h1 {
    font-size: 1.714285714em;
    line-height: 1.5em;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}
p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
#container,
.inner { margin: 0 auto }
header { background: #262F37 }
header h1 { margin: 7px 0 0 }
#container {
    clear: both;
    padding-top: 20px;
}
.alt {
    color: rgba(255,255,255,0.9);
    letter-spacing: .05em;
}
nav { margin: 7px 0 }
nav ul {
    text-align: right;
    overflow: auto;
    width: 100%;
}
nav ul li {
    text-align: center;
    overflow: auto;
    float: left;
    width: 33%;
    margin: 0;
}
nav a {
    text-decoration: none;
    display: block;
    background-color: rgba(255,255,255,0.1);
    margin: 0 0 0 4%;
    padding: 7px 0 7px 5%;
}
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after { clear: both }
.cf { zoom: 1 }
@media screen and max-width 768px { 
    .span4,
    aside {
        width: 100%;
        margin-left: 0;
    }
    #container,
    .inner {
        width: 90%;
        padding: 0 5%;
    }
    nav .span4,
    .span8,
    article { width: 100% }
}
@media screen and max-width 480px { 
    nav ul li {
        width: 100%;
        margin: 0 0 5px;
    }
    nav a {
        margin: 0;
        padding: 14px 0;
    }
}